 
.add-btn {
  display: inline-block;
  float: right;
  margin: 20px;
  padding: 5px 10px;
}

.logout {
  position: relative;
}

.logout-div {
  min-width: 80px;
  max-width: 150px;
  word-wrap: break-word;
  word-break: break-all;
  display: none;
  position: absolute;
  top: 51px;
  right: -10px;
  background: #000;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  line-height: 1;
}

.logout-div a {
  text-decoration: none;
  color: #fff;
} 
th, td {
  padding: 10px;
}
 